.header {
    font-size: medium;
  }
  .expense {
    float: left;
  }
  .profile {
    float: right;
  }
  .verify {
    background-color: lightcyan;
    color: black;
    border-radius: 8px;
    width: 500px;
    margin: 90px auto;
    padding: 25px;
    text-align: center;
  }
  .bt {
    background-color:lightcyan;
    color:black;
    padding: 10px 20px;
  }