.login {
    background-color: bisque;
    border-radius: 5px;
    width: 450px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
  }
  .body {
    text-align: left;
    padding: 20px 10px;
  }
  .body {
    padding: 10px;
  }
  .login lable {
    text-align: center;
  }
  .login input {
    width: 50%;
    display: flex;
    width: 400px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    margin: 15px auto;
  }
  .foo {
    text-align: center;
    size: 100px;
    padding: 30px;
  }
  .foo button {
    background-color: rgb(219, 219, 158);
    padding: 10px 20px;
  }